**Preprocessing**

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('pjmovie_metadata.csv')

In [3]:
data = data.loc[:,['actor_1_name','actor_2_name','actor_3_name','director_name','genres','movie_title']]

In [6]:
data.isnull().sum(axis=0)
data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action|Adventure|Fantasy|Sci-Fi,Avatar
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action|Adventure|Thriller,Spectre
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action|Thriller,The Dark Knight Rises
4,Doug Walker,Rob Walker,NaN,Doug Walker,Documentary,Star Wars: Episode VII - The Force Awakens ...

In [8]:
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')
data['genres'] = data['genres'].replace('|', ' ')

In [9]:
data['movie_title'] = data['movie_title'].str.lower()
data['movie_title'] = data['movie_title'].str[:-1]
data['movie_title'][0]

'avatar'

In [13]:
data['comb'] = data['actor_1_name'] + ' ' + data['actor_2_name'] + ' '+ data['actor_3_name'] + ' '+ data['director_name'] +' ' + data['genres']

data.to_csv('data.csv',index=False)